body{
background-color:#E66386
}
.header-box{
    text-align: center;
    background-color: rgb(255,255,255);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}



.skiing{
    text-align: center;
}
.skiing img{
    max-width: 70vw;
    ;
}